<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Uniculum - Mina projekt</title>
          <link href="css/style.css" type="text/css" rel="stylesheet" />
          <link rel="shortcut icon" href="img/favicon.ico" />
          <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
            <script src="javascript/jquery-1.8.3.js"></script>
            <script src="javascript/jquery-ui-1.9.2.js"></script>
            <script src="javascript/jquery.ui.touch-punch.js"></script>
            <script src="javascript/user_jquery.js"></script>
    </head>
     <body>

        <div id="ui_sidebar">
            
            <img src="img/logoleft.PNG" class="left_logo"/>
            <h2><div class="arrow-right"></div><a href="search.html">Avancerad sökning</a></h2>
            <h2><div class="arrow-right"></div><a href="user_profile.html">Min profil</a></h2>
            <h2><div class="arrow-right"></div><a href="my_projects.html">Mina projekt</a></h2>
            <h2><div class="arrow-right"></div><a href="erfarenheter.html">Mina erfarenheter</a></h2>

        </div>

        <div id="ui_header">

            <div class="user_box"> 
               <div class="user_picture"></div>
                <div class="username_holder">
                    <span class="user_name">Severus Snape</span>

                        <div class="arrow-down" id="clickmetoo">
                          <div class="account_settings">
                              Kontoinställningar<br/>
                              Logga ut 
                                <div class="arrow-up" id="hide_controlpanel"></div>  
                          </div>
                        </div>
                </div>
            </div>

          <div class="upload_shortcut">
              <a href="upload_file.html"><h2 class="cursor">» Ladda upp ett nytt projekt</h2>
              <img src="img/upload_button.PNG" id="upload_button" /></a>
          </div>

      </div>
      
      <div id="main_content">

          <div class="columnLeft">

              <div class="profile_picture">
              </div>

              <h2>Kontaktuppgifter <div class="edit_icon"></div></h2>
              <div id="contact_information">
                <div class="contact_rows">Namn: Severus "Halvblodsprinsen" Snape.</div>
                <div class="contact_rows">Ort: Spinner's End, Cokeworth, England.</div>
                <div class="contact_rows">Tel: 073-M4G1C-2N4P3</div>
                <div class="contact_rows">Email: i_killed_dumbledore@hogwarts.net </div>
              </div>

          </div>


         <div class="columnMiddle">
      
             <h2>Severus Snape</h2> <!--username-->
            
                <div id="description"> <!--user personal description-->

                    <p>
                     My biggest passion is life is making shit bubble in cauldrons and hating that Potter kid with the burning fire of a thousand dying suns. My life is more or less dedicated to making his school years a living hell, and the rest is made up of pawning over dead chicks and chilling with the Dark Lord. 
                    </p>

                    <p>
                      I have some experience as a double agent, but also as being a general shit head and bullying little kids in my role as a teacher. Hope to hear from you soon! 
                      <div class="edit_icon"></div>
                    </p>

                  </div>


                 <h2>Mina projekt <div class="edit_icon"></div></h2>

                <div class="project_description">
                  <div class="icon audio"></div>
                  <h2>Snape, Snape</h2>
                  Snape, Snape, Severus Snape... Dumbledore! <a href="">Läs mer...</a>
                  
                </div>
                <div class="project_members">
                Med Albus Dumbledore, Ron Weasley, Harry Potter och 2 andra.
                <img src="img/users.PNG"/>
                  </div>

                <div class="project_description">
                  <div class="icon game"></div>
                  <h2>Harry Potter-detention-game</h2>
                  Ju ledsnare Harry Potter är, desto fler poäng. <a href="">Läs mer...</a>
                </div>
                <div class="project_description">
                  <div class="icon video"></div>
                  <h2>Snape Bond & the Green-eyed Lady</h2>
                  The name is Bond. Snape Bond. <a href="">Läs mer...</a>
                </div>
                <div class="project_description">
                  <div class="icon essay"></div>
                  <h2>100 things I hate about Harry Potter</h2>
                  <a href="">Läs mer...</a>
                </div>
            
            </div>



           <div class="columnRight">

                   <div id="interests">

                       <h2>Intresserad av <div class="edit_icon"></div></h2>
           
                      <span class="hashtag">trolldrycker</span> <span class="hashtag">maktmissbruk</span> <span class="hashtag">lily potter</span>  <span class="hashtag">svartkonster</span>
                      <span class="hashtag">spionage</span> <span class="hashtag">hämnd</span> 

                     </div>

                    <div id="my_experiences">
                        <h2>Utbildningar <div class="edit_icon"></div></h2>

                        <h3>Trolldryckskonst 402</h3>
                        <h4>Hogwarts Skola för Trollkonster & Trolldom</h4>
                        
                        <h2>Anställningar <div class="edit_icon"></div></h2>

                        <h3>Trolldryckslärare</h3>
                        <h4>Hogwarts Skola för Trollkonster & Trolldom</h4>

                        <h3>Dubbelagent</h3>
                        <h4>Albus Dumbledore & Lord Voldemort</h4>
                    </div>

          </div> 



        
        </div>

      </body>      
</html>