<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Uniculum - Mina projekt</title>
          <link href="css/style.css" type="text/css" rel="stylesheet" />
          <link rel="shortcut icon" href="img/favicon.ico" />
          <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
            <script src="javascript/jquery-1.8.3.js"></script>
            <script src="javascript/jquery-ui-1.9.2.js"></script>
            <script src="javascript/jquery.ui.touch-punch.js"></script>
            <script src="javascript/user_jquery.js"></script>
    </head>
     <body>

        <div id="ui_sidebar">
            
            <img src="img/logoleft.PNG" class="left_logo"/>
            <h2><div class="arrow-right"></div><a href="search.html">Avancerad sökning</a></h2>
            <h2><div class="arrow-right"></div><a href="user_profile.html">Min profil</a></h2>
            <h2><div class="arrow-right"></div><a href="my_projects.html">Mina projekt</a></h2>
            <h2><div class="arrow-right"></div><a href="erfarenheter.html">Mina erfarenheter</a></h2>

        </div>

        <div id="ui_header">

            <div class="user_box"> 
               <div class="user_picture"></div>
                <div class="username_holder">
                    <span class="user_name">Severus Snape</span>

                        <div class="arrow-down" id="clickmetoo">
                          <div class="account_settings">
                              Kontoinställningar<br/>
                              Logga ut 
                                <div class="arrow-up" id="hide_controlpanel"></div>  
                          </div>
                        </div>
                </div>
            </div>

          <div class="upload_shortcut">
              <a href="upload_file.html"><h2 class="cursor">» Ladda upp ett nytt projekt</h2>
              <img src="img/upload_button.PNG" id="upload_button" /></a>
          </div>

      </div>
      
      <div id="main_content">
          <div class="view_this_project_wrapper">
                  <h1>Snape, Snape...</h1>
<div class="view_this_project_files">
  <div class="view_these_files"> <h3>Filer</h3></div>
  <div class="file_list file_image">dumbledore_nudes.JPG</div>
  <div class="file_list file_code">snape_website.php</div>
  <div class="file_list file_audio">snapesnape.mp3</div>
  <div class="file_list file_video">musicvideo.mov</div>
  <div class="file_list file_text">snapesdiary.txt</div>
  <div class="file_list file_file">broken_file.csv</div>

</div>

                <div class="view_this_project_members">
          <div class="hide_these_members">Dölj projektmedlemmar</div>
          <div class="view_this_date">Skapad: 2007/03/23 </div>
                   <div class="project_members_square">
                              <img src="img/albus.PNG"/><br/>
                              Albus
                          </div>

                          <div class="project_members_square">
                              <img src="img/ron.PNG"/><br/>
                              Ron
                          </div>
                          <div class="project_members_square">
                              <img src="img/harry.PNG"/><br/>
                              Harry
                          </div>

                          <div class="project_members_square">
                              <img src="img/voldy.PNG"/><br/>
                              Voldemort
                          </div>

                          <div class="project_members_square">
                              <img src="img/hermione.PNG"/><br/>
                              Hermione
                          </div>
                          <div class="project_members_square">
                              <img src="img/snape.PNG"/><br/>
                              Severus
                          </div>

                          <!--  dont remove -->
                          <div style="clear: both;"></div>

                </div>
<div class="view_this_project_tags">
    <span class="master_category">Musik</span> 
    <span>#music</span> 
    <span>#friends</span> 
    <span>#voldyanddumby</span> 
    <span>#fuckthatpotterkid</span> 
    <span>#voldyanddumby</span> 
    <span>#voldyanddumby</span> 
    <span>#voldyanddumby</span> 
    <span>#voldyanddumby</span> 
</div>
<div class="this_project_description"></div>
<div class="view_this_project_description">
Snape, Snape, Severus Snape, Snape, Snape, Severus Snape... Dumbledore!</div>
                </div>
      </div>

      </body>      
</html>