


.file_list {
	width: 15vw;
	color: #c0d4d5;
	font-size: 0.8vw;
	padding: 0.5vw 0.5vw 0.5vw 2vw;
	height: 1vw;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 1.5vw;
}

.file_audio {	background-image: url(../img/icons/files/audio.PNG);}
.file_code {	background-image: url(../img/icons/files/code.PNG);}
.file_video	 {	background-image: url(../img/icons/files/video.PNG);}
.file_text {	background-image: url(../img/icons/files/text.PNG);}
.file_file {	background-image: url(../img/icons/files/file.PNG);}
.file_image {	background-image: url(../img/icons/files/image.PNG);}

.view_this_project_wrapper {
	width: 62vw;
	margin: 0vw auto;

}

.view_this_project_tags {
	width: 39vw;
}


.view_this_project_tags span {
	background-color: #54d18f;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	margin-right: 0.3vw;
	margin-bottom: 0.3vw;
	margin-top: 0.3vw;
	display: inline-block;
}

.master_category {
	background-color: #243333 !important;

}

.view_this_project_members {
	background-color: #141d1d;
	width: 39vw;
	padding: 0.6vw 1.4vw 1.7vw 1.4vw;
	border-radius: 0.8vw;
	display: inline-block;
	margin-bottom: 0.6vw;
	min-height: 4vw;
}

.view_this_project_members h2 {
	text-align: center;
	color: white;
}

.view_this_project_files {
	background: #243333;
	border-radius: 0.8vw;
	float: right;
	width: 19vw;
	padding-bottom: 1.5vw;

}

.this_project_description {
	margin: 0.5vw 0vw 0.5vw -0.8vw;
	background: url(../img/icons/blue/description.PNG);
	background-repeat: no-repeat;
	width: 4vw;
	height: 4vw;
}

.view_this_project_description {
	width: 39vw;
	font-size: 0.9vw;
}

.view_this_date {
	float: right;
	margin-top: -1.6vw;
	background-color: #243333;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	display: block;
}
.hide_these_members {
	float: right;
	margin-right: 10.5vw;
	margin-top: -1.6vw;
	background-color: #54d18f;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	cursor: pointer;
}





.view_these_files {
	margin-top: -1.1vw;
	background: url(../img/icons/blue/folder.PNG);
	background-repeat: no-repeat;
	background-size: 6.5vw;
	width: 6vw;
	padding-left: 6vw;
	padding-top: 0.5vw;
	color: #cfe2e3;
	height: 3.7vw;
}



/*                                          NEJ                                                      */

.cv {
	padding-left: 6vw;
	background-image: url(../img/icons/cv.PNG);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 5vw;
	height: 3.2vw;
	font-size: 2.3vw;
	margin-bottom: -0.5vw;
	margin-top: 0.5vw;
}

.cv_src_results {
	width: 100%;
	font-size: 1.1vw;
	font-family: Kozuka;
}
.cv_src_results img {
	width: 2vw;
	height: 2vw;
	border-radius: 0.3vw;
}


.cv_src_results span {
	background-color: #253737;
	padding: 0.4vw 0.5vw;
	border-radius: 0.3vw;
	color: #cad9da;
}


.cv_src_name {
	width: 65%;
	text-align: left;
}
.cv_src_profile {
	width: 15%;
	padding: 0.5vw;
	cursor: pointer;
}
.cv_src_cv {
	width:15%;
	cursor: pointer;
}

.cv_src_face {
	width:10%;
}




/*/////////////////////////////////////////////////////////////////////// Kontoinställningar ///////////////////////////////////////////////////////////////////////*/

#account_wrapper {
	float: left;
	width: 32vw;
	height: 22vw;
	padding-left: 1vw;
	padding-bottom: 2vw;

}

#profile_wrapper {
	float: right;
	width: 38vw;
	padding: 0vw 2vw 2vw 2vw;
	text-align: center ;
	margin-right: 1vw;
}

#profile_pic_wrapper {
	background-color: #243333;
	width: 40vw;
	height: 15vw;
	text-align: center ;
	margin: 0vw 0vw 1vw -1vw;
}

#profile_pic_wrapper img {
	width: 12vw;
	height: 15vw;
}

#profile_wrapper h2 {
	margin: 0vw 0vw 1vw 0vw;
}

#profile_wrapper textarea {
	padding: 1vw;
	width: 36vw;
	margin: 0vw 0vw 1vw 0vw;
	border: 0.1vw solid #54d18f;
	font-family: verdana;
}

.current_avatar {
	float: left;
	margin-right: 1.2vw;
}

.current_avatar img {
	width: 4vw;
	height: 4vw;
	border: 0.2vw solid #fff;
}

.account_column {
	width: 32vw;
	clear: right;
	margin-bottom: 0.2vw;
	font-family: Kozuka;
}

.account_column select{
	width: 13vw;
	margin: -0.9vw 0vw 0vw 0.15vw;
	clear: right;
	font-family: verdana;
	font-size: 0.8vw;
	display: inline;
	padding: 0.5vw;
	border: 0.1vw solid #54d18f;
}


/* Rubrikstylingen inuti dessa kolumnerna ^ */
.account_column h3 {
	padding: 0vw 0vw 0.4vw 5.5vw;
}


.dark_submit {
	background-color: #253737;
	font-family: Kozuka;
	font-size: 1.1vw;
	color: #fff;
	border: 0;
	padding: 0.6vw 1.3vw;
	margin-top: 0vw;
	display: inline-block;
	float: right;
	margin-bottom: 1vw;
	cursor: pointer;}

.blue_submit {
	font-family: Kozuka;
	background-color: #42b8bf;
	font-size: 1.1vw;
	color: #fff;
	border: 0;
	padding: 0.6vw 1.3vw;
	margin-top: 0vw;
	display: inline-block;
	float: right;
	margin-bottom: 1vw;
	margin-left: 0.5vw;
	cursor: pointer;
}


.user_email { background-image: url(../img/icons/user/email.PNG) ; background-size: 4vw; }
.user_displayname { background-image: url(../img/icons/user/name.PNG) ; background-size: 4vw; }
.user_fullname { background-image: url(../img/icons/user/fullname.PNG) ; background-size: 4vw; }
.user_phone { background-image: url(../img/icons/user/phone.PNG) ; background-size: 4vw; }
.user_location { background-image: url(../img/icons/user/location.PNG) ; background-size: 4vw; }
.user_interests { background-image: url(../img/icons/user/interests.PNG) ; background-size: 4vw; }


.change_password {
	width: 30vw;
	background-color: #253737;
	margin-bottom: 1.2vw;
	color: white;
	height: 8vw;
	padding: 1vw;
	margin-top: 0.7vw;
}

.password_column {
	width: 14vw;
	margin-left: 0.5vw;
	float: left;

}

.password_column input {
	width: 12vw;
	padding: 0.5vw;
	margin: 0.2vw 0vw -3vw 0vw !important;
	border: 0.1vw solid #54d18f;

}



/* Custom font, free for commercial use */

@font-face {
    font-family: Kozuka;
    src: url(../font/SourceSansPro-ExtraLight.ttf) format('opentype');
}

h1 {
	font-family: Kozuka;
	font-weight: 100;
	font-size: 2.6vw;
	margin-bottom:  1.2vw;
	margin-top: -0.5vw;
}

h2 {
	font-family: Kozuka;
	font-weight: 100;
	font-size: 1.7vw;
	margin-bottom:  0.2vw;
	margin-top: 0vw;
}

body {
	background: url(../img/background_vertical.PNG) repeat-y;
	background-position: left;
	background-size: 16vw;
	margin: 0vw;
	padding: 0vw;
	font-family: verdana;
	font-size: 1vw;
	color: #465b5c;
	overflow-y: scroll;
}

/*/////////////////////////////////////////////////////////////////////// Själva skalet på sidan ///////////////////////////////////////////////////////////////////////*/

/* Kolumn till vänster för länkar */
#ui_sidebar {
	width: 16vw;
	float: left;
}

/* Loggan till vänster med enhörningen och den fonetiska skriften */
.left_logo {
	width: 15vw;
	height: 6vw;
	margin-top: 1.2vw;
}

/* Styling för vänster-kolumnens länkar */
#ui_sidebar h2 {
	font-family: Kozuka;
	width: 13vw;
	font-size: 1.3vw;
	float: left;
	background: #232825;
	border-radius: 0.5vw;
	padding: 0.4vw 0.3vw;
	margin-left: 0.5vw;
	padding-left: 1.4vw;
	margin-bottom: 1vw;
}

/*  Dessa länkarna kan inte vara blå!!!! */
#ui_sidebar a 	{ color: #e7efef; text-decoration: none ;}
#ui_header a 	{ color: #e7efef; text-decoration: none ;}

/* Pilarna till vänster om länkarna */
.arrow-right {
	width: 0;
	height: 0;
	border-left: 0.6vw solid #4ab67d;
	border-top: 0.4vw solid transparent;
	border-bottom: 0.4vw solid transparent;
	float: left;
	margin-right: 0.5vw;
	margin-top: 0.4vw;
}


/* Header, håller i användarens bild samt ladda upp-genvägen */
#ui_header {
	background: #192626 url(../img/ui_header.PNG) right;
	background-size: 100vw;
	position: absolute;
	top: 0vw;
	right: 0vw;
	height:6.1vw;
	width: 82vw;
	padding-left: 18vw;
	color: #e7efef;
	font-family: Kozuka;
	z-index: -1;
}

/* Avataren, användarnamnet och konto-inställningars hus */
.user_box {
	height: 8.5vw;
	width: 39vw;
	padding: 0.1vw;
	margin-left: 1vw;
}

/* Avataren */
.user_picture {
	width: 5.5vw;
	height: 5.5vw;
	background: url(../img/snape.PNG) #f7fafa;
	background-size: 5.5vw;
	float: left;
	border: 0.2vw solid #f7fafa;
	margin: 1vw 1vw 0vw 0vw;
}

/* Användarnamnet */
.user_name {
	float: left;
	font-size: 1.6vw;
	margin-top: 0.4vw;
}


/* Användarnamnet och dropdown-knappens rum*/
.username_holder {
	display: inline-block;
	margin-top: 2vw;
}

/* Kontoinställningar-dropdown */
.account_settings {
	display: none;
	color: white;
	font-family: Kozuka;
	font-size: 1vw;
}

/* Visa konto-inställningar-knapp */
.arrow-down {
	cursor: pointer;
	width: 0;
	height: 0;
	border-left: 0.5vw solid transparent;
	border-right: 0.5vw solid transparent;
	border-top: 0.7vw solid #43c07e;
	float: right;
	margin: 1.3vw 0vw 0vw 0.6vw;
}

/* Dölj konto-inställningar-knapp */
.arrow-up {
	cursor: pointer;
	width: 0;
	height: 0;
	border-left: 0.5vw solid transparent;
	border-right: 0.5vw solid transparent;
	border-bottom: 0.7vw solid #43c07e;
	float: right;
	margin-top: 1.5vw;
}

/* Ladda upp nytt projekt-boxen */
.upload_shortcut {
	position: absolute;
	top: 0;
	right: 0;
	width: 27.8vw;
	padding-top: 3.3vw;
	cursor: default;
	z-index: 2;
}

/* Ladda upp-knappen */
.upload_shortcut img {
	width: 6vw;
	height: 6vw;
	float: right;
	margin: -3.5vw 2vw 0vw 0vw;
	cursor: pointer;
}

/* Main content, har en absolut position */
#main_content {
	background: url(../img/background_gradient.PNG) transparent top repeat-x;
	width: 81.8vw;
	min-height: 67vh;
	position: absolute;
	top: 6vw;
	right: 0vw;
	z-index: -2;
	padding: 3vw 0vw 2vw 2vw;
}


/*/////////////////////////////////////////////////////////// Mina referenser-sidan /////////////////////////////////////////////////////////////////*/


/*/////// Lägg till erfarenhet //////*/

/* Lägg till erfarenhet-kolumn */
#add_new_experience {
	float: right;
	width: 37vw;
	margin-top: -1vw;
	height:100%;
}


/* Lägg till erfarenhet-rubrik */
#add_new_experience h1 {
	padding-left: 4.5vw;
	padding-top: 0.2vw;
	background: url(../img/experiences.PNG) no-repeat top left;
	background-size: 4vw;
	height: 3vw;
	width: 28vw;
	font-size: 2.1vw;
	margin: 0vw;

}



/* Rutorna för valet av erfarenheter */
.exp_square {
	background: #2f3833 center no-repeat;
	background-size: 5vw;
	border-radius: 0.5vw;
	float: left;
	padding-top: 5vw;
	margin: 1vw 1vw 0.5vw 0vw;
	width: 7.3vw;
	height: 0vw;
	font-size: 1.1vw;
	font-family: Kozuka;
	line-height: 2vw;
	text-align: center;
}


/* Bakgrundsbilderna till valet av erfarenheter */
.exp_education 	{ background-image: url(../img/school.PNG); }
.exp_employment	{ background-image: url(../img/employment_icon.PNG); }
.exp_merits 	{ background-image: url(../img/merits.PNG); }
.exp_other	 	{ background-image: url(../img/other.PNG); }


/* Hus till alla erfarenhets-inputs och diverse */
.things { display: none; float: left; }


/* En wrapper för att kontrollera längden på de olika stegen i processen */
/* OBS OBS OBS samma klass används i "ladda upp projekt"-stegen!!! */
.upload_column {
	width: 32vw;
	margin-bottom: 0.2vw;
	clear: right;
	font-family: Kozuka;
}

/* Rubrikstylingen inuti dessa kolumnerna ^ */
.upload_column h2 {
	padding: 0vw 0vw 0.4vw 0vw;
}

/* Basen till de mörkgråa ikonerna som definierar varje steg*/
.dark_icon {
	background-color: #253737;
	width: 3vw;
	height: 3vw;
	padding: 0.5vw;
	float: left;
	text-align: center;
	margin: 0.7vw 1.3vw 0vw 0vw;
}

/* Bakgrundsbilderna till dessa ikoner ^ */
.ico_education 	 { background-image: url(../img/education.PNG); background-size:6vw; }
.ico_employment  { background-image: url(../img/employment.PNG); background-size:6vw;  }
.ico_merits 	 { background-image: url(../img/merits_w.PNG); background-size:6vw; }
.ico_other  	 { background-image: url(../img/other_w.PNG); background-size:6vw;  }
.employer_icon 	 { background-image: url(../img/icons/blue/employer.PNG) ; background-size: 4vw; }
.employment_icon { background-image: url(../img/icons/blue/employment.PNG) ; background-size: 4vw; }
.merits_icon 	 { background-image: url(../img/icons/blue/merits.PNG) ; background-size: 4vw; }
.school_icon 	 { background-image: url(../img/icons/blue/school.PNG) ; background-size: 4vw; }
.education_icon  { background-image: url(../img/icons/blue/education.PNG) ; background-size: 4vw; }
.location_icon   { background-image: url(../img/icons/blue/location.PNG) ; background-size: 4vw; }
.other_icon 	 { background-image: url(../img/icons/blue/description.PNG) ; background-size: 4vw; }
.time_icon 	     { background-image: url(../img/icons/blue/time.PNG) ; background-size: 4vw; }



/* Generell styling för inputs... Ger en blå border och lite padding */
.uploadfile {
	padding: 0.7vw;
	width: 24.9vw;
	margin: -1vw 0vw 1vw 0vw;
	border: 0.1vw solid #54d18f;
	float: right;
}

/* Inputs för upload column, tar bort lite html */
.upload_column input[type=text] {
	padding: 0.7vw;
	width: 24.9vw;
	margin: -1vw 0vw 1vw 0vw;
	border: 0.1vw solid #54d18f;
	float: right;
	height: 0.7vw;
}

/* Selects för upload column, tar bort lite html */
.upload_column select {
	width: 26.6vw;
	height: 2.4vw;
	padding: 0.6vw;
	border: 0.1vw solid #54d18f;
	margin: -1vw 0vw 1vw 0vw;
	float: right;
}
/* Detta gäller endast de input-element som får .uploadfile. Textarea t.ex ska
till exempel inte ha denna. */
input.uploadfile {
	height: 0.7vw;
}


/* Hus för plats/tid-input-elementen. */
.time_separator {
	display: inline-block;
	padding-right: 1vw;
	margin-top: -0.9vw;
}

/* Fixar längden på tid/plats inputs/selects*/
.time_separator input[type=text]  {	width: 9.5vw;}
.time_separator select { width: 11vw !important; }

/* Submit-knapp styling, denna gäller både för erfarenheter och projekt */
.submit_project {
	background-color: #253737;
	font-family: Kozuka;
	font-size: 1.1vw;
	color: #fff;
	border: 0;
	padding: 0.6vw 1.8vw;
	margin-top: 0.3vw;
}

/*/////// "Mina erfarenheter" //////*/

/* Kolumn för mina erfarenheter */
#my_experiences {
	float: right;
	width: 24vw;
}

/* Wrappern för varje enskild erfarenhet */
.ex_column {
	width: 39vw;
	margin-bottom: 0.2vw;
	font-family: Kozuka;
	background-image: url(../img/white.png);
	background-repeat: repeat-x;
	background-size: 7vw;
	margin-bottom: 0.5vw;
}

/* Rubrikstylingen inuti dessa kolumnerna ^ */
.ex_column h2 {
	padding: 0.5vw 0vw 0.6vw 0vw
;}



/* Blå fyrkant för att indikera mediatyp, bakgrunderna är samma som
i checkboxarna i "ladda upp erfarenheter" */
.ex {
	width: 6vw;
	height:3vw;
	background-color: #54d18f;
	background-repeat: no-repeat;
	padding-top: 4vw;
	margin-right: 0.8vw;
	color: #fff;
	text-align: center;
	font-size: 0.8vw;
	float: left;
}

/* Denna håller allt som är till höger, dvs redigera-knapparna
men också plats/tid */
.edit_wrapper {
	float: right;
	width: 10vw;
	height: 6vw;
	text-align: right;
	padding: 0.5vw 0.5vw 0vw 0vw;
}

/* Wrapper för plats/tid */
.ex_float {
	height: 1.7vw;
	margin-bottom: 0.3vw;
}

/* De små bilderna bredvid plats/tid */
.ex_float img {
	height: 1.2vw;
	width: 1.2vw;
	margin-left: 0.2vw;
	margin-bottom: -0.2vw;
}

/* Plats behöver vara längre och ha en negativ margin för att längre
ortnamn ska få plats */
.exp_location {
	margin-left: -5vw;
	width: 15vw;
}

/* Knapparna för redigera/lägg till/ta bort */
.ex_button, .delete_reference {
	background: #2f3934;
	border-radius: 0.2vw;
	text-align: center;
	float: right;
	margin: 0.2vw 0vw 0vw 0.1vw;
	padding: 0.2vw 0.7vw;
	cursor: pointer;
}


/* Göm all redigerings-html tills en knapp klickas på */
.edit_this {
	display: none;
}

/* Beskrivningen på erfarenheten */
.ex_description {
	line-height: 1vw;
	font-size: 0.7vw;
	font-family: verdana;
	height: 3.2vw;
}

/* Visa referenser */
.show_references {
	width: 38vw;
	display: inline-block;
	color: #465353;
	font-size:1.1vw;
	cursor: pointer;
	margin: 0.3vw 0vw 2vw 0vw;
}

/* Ikonerna inne bland referenserna */
.show_references img {
	width: 0.7vw;
	height: 0.7vw;
	margin-right: 0.2vw;
}

/* Denna är här för jquery-stuff, viktig! */
.allreferences {
	display: none;
	cursor: text;
	padding-top: 1.2vw;
}

/* Husen för referenserna */
.ref_square {
	background: #2f3833 center no-repeat;
	background-size: 5vw;
	font-size: 0.9vw;
	padding: 0.8vw;
	margin: 0.3vw 0.3vw 0.3vw 0vw;
	display: inline-block;
	line-height: 1.3vw;
	border-radius: 0.5vw;
	color: white;
	height: 4vw;
	width: 16.7vw;

}

/* Ta bort en referens */
.delete_reference {
	background: #d70808;
	padding: 0.2vw 0.6vw 0.2vw 0.7vw;
	margin-left: 0.2vw;
	margin-top: -1vw;
}

/*/////// Lägg till en referens //////*/

/* Referensredigeringens hus */
.references_choices {
	width: 39vw;
	height: 9vw;
	background-color: #465353;
	color: #fff;
	text-align: right;
	line-height: 0.2vw;
	padding-top: 0.5vw;
	margin: 1vw 0vw 0.5vw 0vw;
	display: none;
}


/* Kolumner för att separera de fyra input-elementen*/
.ref_column {
	width: 18.6vw;
	float: left;
	padding-right: 0.5vw;
	padding-left: 0.2vw;
}

/* Rubrikerna i kolumnerna*/
.ref_column h3 {
	float: left;
	font-size: 1vw;
	margin-left: 0.8vw;
	margin-top: 1.4vw;
}

/* Input i kolumnerna*/
.references_input  {
	height: 0.9vw;
	padding: 0.3vw;
	display: inline-block;
	margin-bottom: 1.2vw;
	width: 12vw;
}

/* Knappar för lägg till/ångra */
.addreference, .clearreference{
	padding: 1vw;
	background-color: #42b8bf;
	float: right;
	cursor: pointer;
	font-family: Kozuka;
}

/* Ångra med annan färg */
.clearreference{
	background-color: #253737;
	margin-right: 0.4vw;
}


/*/////// Redigera erfarenhet //////*/

/* Redigerings-rubrik */
.edit_column {
	width: 39vw;
	margin-bottom: -0.8vw;
}


/* Styling för selects i erfarenhets-redigering */
.ex_column select {
	padding: 0.4vw;
	width: 6.6vw;
	margin-right: 0.2vw;
	border: 0.1vw solid #54d18f;
	float: right;
	font-size: 0.8vw;
}

/* Styling för inputs i erfarenhets-redigering */
.ex_column input {
	padding: 0.4vw;
	border: 0.1vw solid #54d18f;
	font-size: 0.8vw;
	margin-top: 0.8vw;
}

/* Styling för små inputs i erfarenhets-redigering */
.edit_wrapper input  {
	width: 5.6vw !important;
	margin-left: 0.3vw;
	margin-top: 0.2vw !important;
	padding: 0.4vw;
	border: 0.1vw solid #54d18f;
	font-size: 0.8vw;
	margin-top: 0.8vw;
}

/* Styling för textareor i erfarenhets-redigering */
.ex_column textarea {
	padding: 0.2vw;
	border: 0.1vw solid #54d18f;
	font-size: 0.8vw;
	margin-top: 0.8vw;
	width: 14vw;
	font-size: 0.7vw;
	font-family: verdana;
}

/* Knapparna för att ångra/spara ändringar */
.ignore_edit, .add_edit{
	padding: 0.5vw;
	background-color: #42b8bf;
	float: right;
	cursor: pointer;
	color: #fff;
	font-family: Kozuka;
	font-size: 1.1vw;
	margin: 1.5vw 0.3vw 0vw 0vw;
}

/* Obviously annan färg på "Ångra" */
.ignore_edit{
	background-color: #253737;
}




/*/////////////////////////////////////////////////////////// Avancerad sökning /////////////////////////////////////////////////////////////////*/


/* Göm det som inte behöver synas än */
#hide_me, .search_for {
	display: none;
}
/* Hus till mina sökningar, url:en */
.url_wrapper {
	font-size: 0.8vw;
	float: right;
	width: 22vw;
	padding: 0.5vw;
	margin: 2vw 3vw 0vw 0vw;
}

.url_wrapper h2 {
	margin: 0vw 0vw 1vw 0vw;
}


/* Mina sökningar */
.search_log {
	width:20vw;
	padding: 1vw;
	margin: -0.2vw 0vw;
	background: white;
}

/* Styling för det lilla förstoringsglaset */
.thumbnail {
	width: 0.7vw; height: 0.7vw; margin-right: 0.5vw;
}

/* Kategori */
.td_category span{
	display: inline-block;
	padding: 0.3vw;
	background-color: #71E39D;
	color: white;
	border-radius: 0.2vw;
	font-size: 0.75vw;
}

/* Sökord */
.td_words span {
	font-size: 0.75vw;
}

/* Individuell cell-padding och bredd */
.td_category	{width: 6vw; padding-bottom: 0.5vw;}
.td_words 		{width: 9vw; padding-bottom: 0.5vw;}
.td_delete 		{width: 4vw; padding-bottom: 0.5vw; text-align: center;}

/* Gör ta bort-knappen liten */
.td_delete img {
	width: 1vw;
	height: 1vw;
}

/* Sökningsalternativens hus */
.search_wrapper {
	width: 55vw;
	float: left;
}

/* Hästarnas hus */
.searchbox {
	width: 35vw;
	margin: 0vw auto;
}

/* Ponnyjävel */
.search_logo {
	width: 7vw;
	height: 7vw;
	background-size: 7vw;
	background-image: url(../img/big_logo.PNG);
	background-repeat: no-repeat;
	float: left;
}

/* Hästens pratbubbla haha*/
.search_bubble {
	font-family: Kozuka;
	width: 20vw;
	padding: 0.5vw;
	border: 0.1vw solid #43c07e;
	background-color: #43c07e;
	border-radius: 0.5vw;
	color: white;
	margin: 1vw 0vw 0vw 1vw;
	float: left;
	font-size: 1.4vw;
}


/* Hmmmm ska göra denna som box kanske*/
.bubble_tip {
	background: url(../img/bubble_tip_blue.PNG)  no-repeat;
	background-size: 0.8vw;
	float: left;
	width: 2vw;
	height: 1.2vw;
	margin: 0.6vw 0vw 0vw -1.1vw;
}

/* Radioknapparnas och checkboxarnas hus */
.choicebox {
	width: 50vw;
	margin: 0vw auto;
	text-align: center;
}

/* Fyrkanterna runt checkboxarna/radioknapparna */
.dark_square {
	background: #2f3833 center no-repeat;
	background-size: 6vw;
	width: 8vw;
	height: 0vw;
	padding-top: 8vw;
	margin: 1vw 2vw 2vw 0vw;
	float: left;
	line-height: 2vw;
	text-align: center;
	font-family: Kozuka;
	border-radius: 0.5vw;
	position: relative;
	font-size: 1.1vw;
}

/* Bakgrundsbilderna till fyrkanterna */
.s_users 		{ background-image: url(../img/users.PNG); }
.s_projects 	{ background-image: url(../img/projects.PNG); }
.s_experiences 	{ background-image: url(../img/experiences.PNG); }
.s_categories 	{ background-image: url(../img/categories.PNG); }
.s_status 		{ background-image: url(../img/status.PNG); }


/* Söker i.... */
.search_div {
	margin: 0vw auto;
	width: 15vw;
	font-family: Kozuka;
	font-size: 1.7vw;
	color: #43c07e;
	padding-left: 8vw;
}


/*/////////////////////////////////////////////////////// Mina projekt-sidan ////////////////////////////////////////////////////////////////////*/

/* Helpful horsie's hus */
#help_projects {
	font-family: Kozuka;
	font-size: 1.1vw;
	float: right;
	margin-top: 6vw;
	margin-right: 2vw;
	width: 24vw;
	background-color: #243333;
	border-radius: 1.3vw;
	padding: 1vw 1.3vw;
	color: #d9eff0;
}

#help_projects img {
	width: 0.8vw;
	width: 0.8vw;
	margin-right: 0.3vw;
}

#help_projects p {
	line-height: 2.3vw;}

.help_logo {
	background-image: url(../img/big_logo_fl.png);
	background-repeat: no-repeat;
	background-size: 10vw;
	height: 10vw;
	width: 10vw;
	margin-top: -7vw;
	float: right;

}



/* bakgrunderna för mediatyp */
.ico_audio {background-image: url(../img/audio.PNG); background-size:6vw;  }
.ico_project {background-image: url(../img/projects.PNG); background-size:6vw;  }
.ico_game {background-image: url(../img/game.PNG); background-size:6vw;  }
.ico_video {background-image: url(../img/video.PNG); background-size:6vw;  }
.ico_essay {background-image: url(../img/essay.PNG); background-size:6vw;  }
.ico_sport {background-image: url(../img/icons/categories/sport.PNG); background-size:6vw;  }

/* Boxen för att ändra taggarna i ett projekt */
.edit_tags_block_wrapper {
	float: right;
	width: 12vw;
	height: 13vw;
	margin-right: -12vw;
	display: none;
	position: relative;
}

/* Taggarnas hus */
.edit_tags_block {
	background-color: #253737;
	color: #fff;
	float: right;
	width: 11vw;
	height: 12vw;
	padding: 0.5vw;
	font-size: 0.9vw;
	margin-left: 2vw;
	overflow:  auto;
    word-break: break-all;
}

/* Taggarnas hus */
.tag_boxes {
	float: left;
	width: 5vw !important;
	padding: 0.2vw;
	margin-bottom: 0.5vw;
}

/* Den svarta triangeln till vänster */
.arrow-left {
	width: 0;
	height: 0;
	border-right: 1vw solid  #253737;
	border-top: 0.8vw solid transparent;
	border-bottom: 0.8vw solid transparent;
	float: left;
	position: absolute;
	left: -0.8vw;
	top: 7.3vw;
}




/* Lägg till projektmedlem */
.add_selected_member {
	background-color: #42b8bf;
	padding: 0.9vw;
	float: right;
	margin-top: -0.6vw;
}




.edit_tags {
	width: 8vw;
	height: 2vw;
	padding-right: 0.5vw;
	float: right;
	margin: 0.5vw 0vw;
	cursor: pointer;
	font-size: 1.1vw;
}

.edit_tags img {
	width: 1vw !important;
	height: 1vw !important;
}


.show_tags {
	float: right;
}

.alltags {display: none;
padding-top: 1.2vw;
text-align: center;}


.upload_interests {
padding-top: 1.2vw;
text-align: center;
width: 32vw;
margin-left: 4vw;}

.alltags span {
	background-color: #54d18f;
	color: white;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	margin-right: 0.3vw;
	margin-bottom: 0.3vw;
	display: inline-block;

}

.upload_interests span {
	background-color: #54d18f;
	color: white;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	margin-right: 0.3vw;
	margin-bottom: 0.3vw;
	display: inline-block;

}

.upload_interests img {
	margin-left: 0.3vw;
	width: 0.7vw;
	height: 0.7vw;
}

.alltags img {
	margin-left: 0.3vw;
	width: 0.7vw;
	height: 0.7vw;
}

.confirm_changes {
	display: none;
}

.hashtag {
	font-size: 0.8vw;
	background-color: #54d18f;
	color: white;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	margin: 0vw 0.3vw 0.3vw 0vw;
	float: left;

}




.added_members {
	height: 7vw;
	margin-bottom: 0.5vw;
	width: 18vw;
	overflow: auto;
	float: right;

}

.added_members span {
	font-size: 1vw;
	background-color: #54d18f;
	color: white;
	padding: 0.6vw;
	border-radius: 0.4vw;
	float: right;
	font-size: 0.8vw;
	margin-bottom: 0.2vw;
	margin-left: 0.2vw;
}

































/*/////////////////////////////////////////////////////////////////// Min profil-CSS /////////////////////////////////////////////////////////////////////*/

/* Kolumner för att separera allt ordentligt på profilen */

.columnLeft 	{ width: 24vw; float: left; }
.columnMiddle 	{ width: 30vw; float: left; }
.columnRight 	{ width: 26vw; float: left;}

/* Styling för profilbilden */
.profile_picture {
	width: 21vw;
	height: 26vw;
	background-image: url(../img/default_profile_picture.PNG);
	background-size: 21vw;
	margin-bottom: 1.5vw;
}

/* De små penn-ikonerna */
.edit_icon {
	height: 1vw;
	width: 1vw;
	cursor: pointer;
	background-image: url(../img/edit.PNG);
	background-size: 1vw;
	display: inline-block;
}


.input_thing {
	font-family: Kozuka;
	padding: 0.1vw 0.7vw;
	width: 20vw;
	border: 0.1vw solid #43c07e;
	background-color: white;
	border-radius: 0.5vw;
	color: white;
	margin: 2vw 1vw;
	display: inline-block;
	font-size: 1.3vw;
	color: #43c07e;
	text-align: left;
	height: 3vw;

}



















.project_choices {
	background-color: #54d18f;
	float: left;
	height: 9vw;
	width: 11vw;
	margin-right: 1vw;
		text-align: center;}

	.project_choices img {
		width: 8vw;
		height: 5vw;
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

.box_description {
	background-color: #2f3833;
	width: 10.8vw;
	padding: 0.1vw;
	color: white;
	font-family: Kozuka;
}



















































/* */



/* omfg all this css i cant deal */



.add_references {
	text-align: right;
	width: 33vw;
	display: inline-block;
}

.add_references h3 {
	margin: 0vw -0.5vw 0vw 0vw !important; 	padding: 0vw !important;
	cursor: pointer;
}

.add_references img {
	width: 1.5vw;
	height: 1.5vw;
	margin-bottom: -0.3vw;
	margin-left: 0.2vw;
	cursor: pointer;
}


.ref_column h2 {
	font-size: 1.1vw  !important;;
	margin: 1vw 0.9vw !important;
	text-align: left;
}

.added_members img {
	width: 0.9vw;
	height: 0.9vw;
	margin-bottom: -0.2vw;
	cursor: pointer;
}


/* wrappers för varje steg */



#add_project {
	float: right;
	width: 37vw;
	margin-top: -1vw;
	padding-top: 1.8vw;
}

#my_experience, #my_projects {
	float: left;
	width: 40vw;

}

.delete_member {
	background: #d70808;
	border-radius: 0.2vw;
	text-align: center;
	float: right;
	padding: 0.1vw 0.5vw 0.1vw 0.7vw;
	margin-left: 0.2vw;
	margin-top: -1.3vw;
	cursor: pointer;
}

.delete_member img {
	width: 0.6vw !important;
	height: 0.6vw !important;
	margin-top: 0vw !important;
	border-radius: 0vw !important;
	border: 0vw !important;
}

.project_members_square {
	background: #243333;
	font-size: 0.8vw;
	padding: 0.5vw 1vw 1vw 1vw;
	margin: 1vw 0vw 0.3vw 0.4vw;
	display: inline-block;
	line-height: 1.3vw;
	border-radius: 0.4vw;
	color: white;
	width: 5vw;
	height: 5.9vw;
	text-align: center;
}

.project_members_square img {
	width: 4.5vw;
	height:4.5vw;
	margin-top: 0.4vw;
	border-radius: 0.3vw;
	border: 0.1vw solid white;
}

.ex_button img {
	width: 0.7vw;
	height: 0.7vw;
}


.delete_reference img {
	width: 0.7vw;
	height: 0.7vw;
}



 .login_button, .register_button, .cursor {
	cursor: pointer;
}


/*/////////// "Header" /////////////*/







.experiences_icon {
	width: 4vw;
	height: 3.5vw;
	margin-right: 0.2vw;
	margin-bottom: -0.9vw;
	margin-top: 0.7vw;
	float: left;
}




/*/////////// Ladda upp ett nytt projekt /////////////*/

/* bildstyling för molnet*/
.cloud {
	padding-left: 5.5vw;
	background-image: url(../img/cloud.PNG);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 5vw;
}


.title_icon { background-image: url(../img/icons/blue/title.PNG) ; background-size: 4vw; }
.description_icon { background-image: url(../img/icons/blue/description.PNG) ; background-size: 4vw; }
.mediatype_icon { background-image: url(../img/icons/blue/mediatype.PNG) ; background-size: 4vw; }
.categories_icon { background-image: url(../img/icons/blue/categories.PNG) ; background-size: 4vw; }
.upload_icon { background-image: url(../img/icons/blue/upload.PNG) ; background-size: 4vw; }
.cv_icon { background-image: url(../img/icons/blue/cv.PNG) ; background-size: 4vw; }





/* välj mediatyp-ikonerna */
.media_icon {
	background-color: #253737;
	width: 3vw;
	height: 3vw;
	padding: 0.5vw;
	float: right;
	text-align: center;
	margin-left: 0.5vw;
	margin-top: -0.8vw;
}

.mediatype img {
	width: 3vw;
	height: 3vw;
	margin-bottom: 0.1vw;
}







/* lite special-styling för välj mediatyp */
.mediatype {
	margin-bottom: 6vw;
}



/*sub-kategorier*/
.subcategories {
	width: 26vw;
	padding: 0.2vw;
	margin-top: -0.2vw;
	margin-bottom: 0.9vw;
	float: right;
	padding-right: 0.3vw;
    display: none;
}

.subcheckbox {
	float: right;
    display:inline-block;
	padding-left: 0.8vw;
	min-width: 5vw;
}


.check_title, .check_description, .check_category, .check_upload {
	width: 1.5vw;
	height: 1.5vw;
	background: url(../img/delete_button.PNG) NO-REPEAT;
	background-size: 1.5vw;
	margin-bottom: -3.5vw;
	margin-top: 2vw;
	margin-left: 2.3vw;
}

.check_subcategories {
	width: 1.5vw;
	height: 1.5vw;
	background: url(../img/delete_button.PNG) NO-REPEAT;
	background-size: 1.5vw;
	margin-bottom: -3.5vw;
	margin-right: -2.3vw;
	float: right;
}




 /* "Header" */






#description {
	width: 27vw;
	line-height: 1.3vw;
	font-size: 0.8vw;
}
#interests {
	float: right;
	width: 24vw;
	margin: 3vw 0vw;
}

#hashtag {
	float: left;
	background-color: #54d18f;
	color: white;
	padding: 0.5vw;
	border-radius: 0.5vw;
	margin-right: 0.3vw;
	margin-bottom: 0.3vw;
}

#contact_information {
	width: 21vw;
	font-family: Kozuka;
	color: white;
}
.contact_rows {
	min-width: 20vw;
	background-color: #1f2d2c;
	padding: 0.2vw 0.5vw;
	border-bottom: 0.1vw solid #385856;
}

#projects_experiences {
	width: 55vw;
}


.project_members {
	width: 28.6vw;
	background-color: #2f3833;
	margin-top: -0.2vw;
	margin-bottom: 0.2vw;
	font-size: 0.7vw;
	color: #d6d6d6;
	padding: 0.3vw 0.2vw;
	display: none;
}

#my_experiences h3 {
	border-bottom: 0.1vw dotted #1f2d2c;
    margin-bottom: 0.3vw;
    padding-bottom: 0.1vw;
    margin-top: 0.4vw;
}

#my_experiences h2 {
    margin-top: 1.5vw;
}

h3 {font-family: Kozuka;}
h4 {font-family: Kozuka;
padding: 0vw;
margin: 0vw 0vw 0.5vw 0vw;}

.project_members img {
	height: 0.8vw;
	width: 1vw;
	float: right;
	margin-right: 0.2vw;
	margin-top: 0vw;
	cursor: pointer;
}


.icon {
	border: 0.4vw solid #54d18f;
	width: 3vw;
	height: 3.25vw;
	margin-top: -0.5vw;
	float: left;
	margin-right: 0.5vw;

}

/* mediatyp-ikoner */
.game 	{ background: #54d18f url(../img/icons/game.PNG) no-repeat center; background-size: 2.5vw;}
.essay 	{ background: #54d18f url(../img/icons/essay.PNG) no-repeat center; background-size: 2.5vw;}
.video 	{ background: #54d18f url(../img/icons/video.PNG) no-repeat center; background-size: 2.5vw;}
.audio 	{ background: #54d18f url(../img/icons/music.PNG) no-repeat center;	background-size: 2.5vw;}

.project_description {
	height: 3vw;
	padding: 0.5vw 0vw;
	width: 27vw;
	background-color: #1f2d2c;
	color: white;
	font-size: 0.9vw;
	font-weight: lighter;
	font-family: Kozuka;
	margin-bottom: 0.2vw;
}


.project_description h2 {
	font-size: 1.3vw;
	margin-bottom: 0vw;
	margin-top: -0.2vw;
}


a {color: #54d18f;
text-decoration: none;}




















  /* index page css */

  body.index {
	background: url(../img/background_stripe.PNG) repeat-x;
	background-size: 18vw;
	margin: 0px;
	font-family: verdana;
	font-size: 0.9vw;
	color: #465b5c;
	overflow-x:hidden;
	font-weight: 100;

}

#header {
	background: url(../img/header_1.PNG);
	background-size: 100vw;
	height:11.5vw;
	width: 100vw;
	text-align: center;
	padding-top: 2.8vw;
	max-width: 100%.
}

#header img {
	width: 70%;
}

#footer {
	background: #243333 url(../img/smartphone.PNG) no-repeat left;
	background-size: 6.6vw;
	height: 10vw;
	width: 89vw;
	margin: 0vw;
	max-width: 100%;
	padding-left: 11vw;
	padding-top: 2vw;
	position: absolute;
	bottom: 0vw;
}


.footer_box {
	width: 14vw;
	height: 10vw;
	float: left;
	margin-right: 2.3vw;
	font-family: Kozuka;
	color: #fff;
	font-size: 0.9vw;
	line-height: 1.4vw;
	letter-spacing: 0.06vw;
}


.footer_box h2 {
	margin-bottom: 1.1vw;
}


.blue_box {
	background: #54d18f;
	float: right;
	height: 12vw;
	width: 26vw;
	margin-top: -2vw;
}

.blue_box input {
	padding: 0.5vw;
	width: 13.9vw;
	border: 0.1vw solid #54d18f;
	display: inline;
	margin-bottom: 0.8vw;
}

.login_box
{
	text-align: right;
	font-family: Kozuka;
	font-weight: 100;
	font-size: 1.1vw;
	line-height: 2vw;
	color: #2c3333;
	padding: 1.8vw 0vw;
	margin-right: 2vw;
}

.login_button {
	background-color: #243333;
	margin-right: 0.3vw;
	padding: 0.1vw 1.2vw;
	color: white;
	float: right;
	font-size: 1vw;
}


#welcome
{
	background: url(../img/big_logo.PNG) center no-repeat;
	background-size: 14vw;
	width: 90vw;
	height: 20vw;
	margin: 1vw auto;
	text-align: center;
	font-family: Kozuka;
	font-weight: 100;
	font-size: 2.4vw;
	color: #54d18f;
	line-height: 3.5vw;
}

.column_right {
	float: right;
	text-align: right;
	padding-right: 14vw;
	padding-top: 5vw;
	cursor: pointer
;
}

.column_left {
	float: left;
	text-align: left;
	padding-left: 14vw;
	padding-top: 5vw;

}

 .registration_box
 {
	text-align: left;
	font-family: Kozuka;
	font-weight: 100;
	font-size: 1.1vw;
	color: #54d18f;
	line-height: 2vw;
	color: #465b5c;
	margin-top: -3vw;
	margin-left: -8vw;
	width: 30vw;

}

 .registration_box input {
	padding: 0.5vw;
	width: 13.9vw;
	border: 0.1vw solid #54d18f;
	display: inline;
	margin-bottom: 0.8vw;
	margin-left: 1vw;
}

.back_to_welcome {
	background: url(../img/arrow_blue.PNG);
	background-size: 2.2vw;
	width: 2vw;
	height: 2vw;
	float: left;
	margin-top: 0.3vw;
	cursor: pointer;

}


.register_button {
	background-color: #243333;
	margin-right: 0.3vw;
	padding: 0.2vw 1.2vw;
	color: white;
	float: right;
	font-size: 1vw;
}

.dark {
	color: #465b5c;
}

.registration_box {
	display: none;
}

.trigger_registration {cursor: pointer;
padding: 0.4vw;}



/* radio buttonz stylin', holy shit btw hur funkar ens detta */


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2vw;
  margin    : 0;
  padding   : 0;
  font-size : 1vw;
  opacity   : 0;
  cursor: pointer;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.8vw;
  height           : 0.8vw;
  margin-left  : -2vw;
  background 	: white;
  border: 0.1vw solid #98a4a4;
  margin-right: 0.5vw;
}

input[type=radio   ]:not(old) + label > span{
  border-radius: 0.7vw;
}

input[type=checkbox]:not(old) + label > span{
  border-radius: 0.3vw;
}


input[type=checkbox]:checked:not(old) + label > span,
input[type=radio   ]:checked:not(old) + label+ label > span{
  background 	: white;
}

input[type=checkbox]:checked:not(old) + label > span:before{
  content     : '✓';
  font-family: verdana;
  display     : block;
  width       : 0.6vw;
  height      : 0.6vw;
  color       : #43c07e;
  font-size   : 0.8vw;
  line-height : 1vw;
  text-align  : center;
  font-weight : bold;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.6vw;
  height           : 0.6vw;
  margin           : 0.1vw auto;
  background       : #43c07e;
  border-radius: 0.6vw;
}


/***** Jesper/Joakim CSS END *****/

/* anneli design */

/*  duse not work with devices smaller then 14" screen resulution */

#a-wrapper {
    width: 70vw;
    margin:0 auto;
    text-align: center;
    font-family: "calibri light";
}

#roligbox{
    width: 42vw;
    height: 15vw;
    padding: 1vw;
    position: relative;
    float:left;
    margin:0 auto;
    border: 0.3vw solid #3FB272;
    border-radius: 0.3vw;
    background: #43BF7E;
    text-align: center;
   	color: white;
   	font-family: "calibri light";
}

#roligbox img {
	width:4.6vw;
	height: 4.6vw;
}

#roligbox ul {
	padding: 0;
}

#loginbox {
    width: 20vw;
    height: 13.1vw;
    padding: 2vw;
    float:right;
    border: 0.25vw solid #3FB272;
    border-radius: 0.3vw;
    background: #43BF7E;
   	color: white;
   	font-family: "Kozuka";
    text-align: center;
}

#loginbox form {
   	font-family: "Kozuka";
}

#finbox {
    width: 69.7vw;
    height: auto;
    border: 0.3vw solid #3FB272;
   	border-radius: 0.3vw;
    margin:0 auto;
    margin-top: 1%;
    padding-bottom: 1vw;
    float:left;
    background: #43BF7E;
    color: white;
   	font-family: "calibri";
    font-size: 1.3vw;
    text-align: center;
}

#finbox img {
	width: 15vw;
	height:5.5vw;
}

#username, #password {
    width: 12vw;
    height: 2vw;
    border: 0.2vw solid #3FB272;
    border-radius: 0.6vw;
    background: white;
    text-align: center;
    font-size: 0.8vw;
  }

.skicka {
   background: #43BF7E;
   border: 0.25vw solid white;
   cursor: pointer;
   border-radius: 0.8vw;
   color: white;
   font-size: 1.7vw;
   font-family: "calibri light";
}

#headerimg{
  margin-top: 2%;
  width: 17vw;
  height: 6vw;
}

#abigloggo{
  width: 10vw !important;
  height: 10vw !important;
}

/* CV  */

#knappar{
	float:left;
}

.button{
	width: 250px;
	height: 30px;
	border:2px solid #505050 ;
	border-radius: 5px;
	background: #303030;
	font-family: "calibri light";
	font-size: 18px;
	color:white;
}
#search{
	margin: 0;
  margin-top: 0.5vw;

}

#cv-wrapper{
  margin-top: 1vw;
  margin-left: 10vw;
  width: 60vw;
}

#submit{
	width: 50px;
	height: 30px;
	border: 2px solid #505050 ;
	border-radius: 5px;
	padding: 2px;
	background: #303030;
	font-family: "calibri light";
	font-size: 18px;
	color:white;
}


#body {
	width: 700px;
	height: auto;
	margin-left:auto;
  margin-right:auto;
	padding: 10px;
	font-family: "calibri";
	font-size: 13px;
}

#inputs{
  padding:10px;
  border-bottom: 2px solid #ccc;
}

/* Register */
#fname, #lname, #email, #passw {
width: 450px;
height: 35px;
border: 2px solid #3FB272;
border-radius: 10px;
background: white;
text-align: center;
}

#box {
  width: 40vw;
  margin-top: 1.5vw;
  padding: 1.5vw;
  border: 4px solid #3FB272;
  border-radius: 1vw;
  background: #43BF7E;
  text-align: center;
}

#box h1{
  color: #fff;
}

#form {
font-family: "Kozuka";
font-size: 1.5vw;
color: white;
text-align: center;
}

#form input{
font-family: "Kozuka";
}

.reg-btn {
   background: #43BF7E;
   border: 0.25vw solid white;
   cursor: pointer;
   border-radius: 0.8vw;
   color: white;
   font-size: 1.7vw;
   font-family: "calibri light";
}


.file_list {
	width: 15vw;
	color: #c0d4d5;
	font-size: 0.8vw;
	padding: 0.5vw 0.5vw 0.5vw 2vw;
	height: 1vw;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 1.5vw;
}

.file_audio {	background-image: url(../img/icons/files/audio.PNG);}
.file_code {	background-image: url(../img/icons/files/code.PNG);}
.file_video	 {	background-image: url(../img/icons/files/video.PNG);}
.file_text {	background-image: url(../img/icons/files/text.PNG);}
.file_file {	background-image: url(../img/icons/files/file.PNG);}
.file_image {	background-image: url(../img/icons/files/image.PNG);}

.view_this_project_wrapper {
	width: 62vw;
	margin: 0vw auto;

}

.view_this_project_tags {
	width: 39vw;
}


.view_this_project_tags span {
	background-color: #56c5cc;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	margin-right: 0.3vw;
	margin-bottom: 0.3vw;
	margin-top: 0.3vw;
	display: inline-block;
}

.master_category {
	background-color: #243333 !important;

}

.view_this_project_members {
	background-color: #141d1d;
	width: 39vw;
	padding: 0.6vw 1.4vw 1.7vw 1.4vw;
	border-radius: 0.8vw;
	display: inline-block;
	margin-bottom: 0.6vw;
	min-height: 4vw;
}

.view_this_project_members h2 {
	text-align: center;
	color: white;
}

.view_this_project_files {
	background: #243333;
	border-radius: 0.8vw;
	float: right;
	width: 19vw;
	padding-bottom: 1.5vw;

}

.this_project_description {
	margin: 0.5vw 0vw 0.5vw -0.8vw;
	background: url(../img/icons/blue/description.PNG);
	background-repeat: no-repeat;
	width: 4vw;
	height: 4vw;
}

.view_this_project_description {
	width: 39vw;
	font-size: 0.9vw;
}

.view_this_date {
	float: right;
	margin-top: -1.6vw;
	background-color: #243333;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	display: block;
}
.hide_these_members {
	float: right;
	margin-right: 10.5vw;
	margin-top: -1.6vw;
	background-color: #56c5cc;
	color: white;
	font-size: 0.8vw;
	padding: 0.3vw 0.7vw;
	border-radius: 0.4vw;
	cursor: pointer;
}





.view_these_files {
	margin-top: -1.1vw;
	background: url(../img/icons/blue/folder.PNG);
	background-repeat: no-repeat;
	background-size: 6.5vw;
	width: 6vw;
	padding-left: 6vw;
	padding-top: 0.5vw;
	color: #cfe2e3;
	height: 3.7vw;
}



/*                                          NEJ                                                      */

.cv {
	padding-left: 6vw;
	background-image: url(../img/icons/cv.PNG);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 5vw;
	height: 3.2vw;
	font-size: 2.3vw;
	margin-bottom: -0.5vw;
	margin-top: 0.5vw;
}

.cv_src_results {
	width: 100%;
	font-size: 1.1vw;
	font-family: Kozuka;
}
.cv_src_results img {
	width: 2vw;
	height: 2vw;
	border-radius: 0.3vw;
}


.cv_src_results span {
	background-color: #253737;
	padding: 0.4vw 0.5vw;
	border-radius: 0.3vw;
	color: #cad9da;
}


.cv_src_name {
	width: 65%;
	text-align: left;
}
.cv_src_profile {
	width: 15%;
	padding: 0.5vw;
	cursor: pointer;
}
.cv_src_cv {
	width:15%;
	cursor: pointer;
}

.cv_src_face {
	width:10%;
}


#my_experiences{
  margin-right: 3.5vw;
}

#regerror ul {
	list-style: none;
	padding: 0;
	color: #fff;
	font-family: "Kozuka";
	font-size: 1.3vw;
	margin-top: -0.8vw;
}