<html>
<head>
<title>Uniculum Index</title>
		<link href="indexcss.css" type="text/css" rel="stylesheet"/>
</head>

<div id="header">
    <div id="headerpic">
             <img src="img/header.png" width="1000" height="200" alt="header" />
    </div> 
</div>


<body>


<div id="roligbox">
			<img src="img/penna.png"><img src="img/ladda.png"><img src="img/gubbe.png">
			<h1>Ladda upp projekt och n&auml;tverka med arbetsgivare</h1>
</div>

<div id="loginbox">
		<form id="form" name="form" method="post" action=" ">
			E-Mail<br><input type="text" name="username" id="username"/><br>
			L&ouml;senord<br><input type="text" name="password" id="password"/><br><br>
			<input type="submit" name="skicka" id="skicka" value="Logga in" /><br><br>
		</form>
</div>
<br>


<div id="finbox">
		<p>Med en portfolio online g&ouml;r du det enkelt f&ouml;r f&ouml;retag att skicka jobberbjudande<br> som matchar just dina kompentenser.</p>
		<h1>Registrera dig idag, det &auml;r enkelt och gratis!</h1>
		<img src="img/big_logo.png" width="160" height="160" alt="logo">
</div>


</body>
</html>