 body {
    width:71%;
    margin:0 auto;
    text-align: center;
    background: url(img/background_gradient.PNG) transparent top repeat-x;
}

h1 {
	font-family: "calibri light";
	color: white;
}

#fnamn, #enamn, #epost, #passw, #passw2 {
    width: 450px;
    height: 35px;
    border: 2px solid #3FB272;
    border-radius: 10px; 
    background: white;
    text-align: center;
}

#skicka {
   background: #43BF7E;
   padding: 8px 14px;
   border-radius: 20px;
   border: 3px solid white;
   color: white;
   font-size: 32px;
   font-family: "calibri";
   }

#box {
  	width: 942px;
  	padding: 8px;
    border: 4px solid #3FB272;
    border-radius: 10px; 
    background: #43BF7E;
    text-align: center;
}

#form {
	font-family: "calibri light";
  font-size: 20px;
	color: white;
	text-align: center;

}