<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Uniculum - Mina erfarenheter</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <script src="javascript/jquery-1.8.3.js"></script>
    <script src="javascript/jquery-ui-1.9.2.js"></script>
    <script src="javascript/jquery.ui.touch-punch.js"></script>
    <script src="javascript/user_jquery.js"></script>

    </head>
     <body>
      <div id="bottom"></div>
        <div id="ui_sidebar">
            
            <img src="img/logoleft.PNG" class="left_logo"/>
            <h2><div class="arrow-right"></div><a href="search.html">Avancerad sökning</a></h2>
            <h2><div class="arrow-right"></div><a href="user_profile.html">Min profil</a></h2>
            <h2><div class="arrow-right"></div><a href="upload_file.html">Mina projekt</a></h2>
            <h2><div class="arrow-right"></div><a href="erfarenheter.html">Mina erfarenheter</a></h2>
        </div>

        <div id="ui_header">

            <div class="user_box"> 

                <div class="user_picture">
                </div>

                <div class="username_holder">
                    <span class="user_name">Severus Snape</span>

                    <div class="arrow-down" id="clickmetoo">
                      <div class="settings">
                          Kontoinställningar<br/>
                          Logga ut 
                          <div class="arrow-up" id="hide_controlpanel"></div>
                          
                      </div>
                    </div>
                </div>

            </div>

          <div class="upload_shortcut">
              <h2 class="cursor">» Ladda upp ett nytt projekt</h2>
              <img src="img/upload_button.PNG" id="upload_button" />
          </div>

      </div>
      
      <div id="main_content">

      








      <div id="add_new_experience">
        

         <h1 class="addemployment">+ Lägg till en erfarenhet</h1>
         <div id="exp_types">
       <div class="exp_education exp_square"><input type="radio" name="exptype" value="education"><label for="education"><span><span></span></span>Utbildning</label></div>
       <div class="exp_employment exp_square"><input type="radio" name="exptype" value="employment"><label for="employment"><span><span></span></span>Anställning</label></div>
       <div class="exp_merits exp_square"><input type="radio" name="exptype" value="merits"><label for="merit"><span><span></span></span>Meriter</label></div>
       <div class="exp_other exp_square"><input type="radio" name="exptype" value="other"><label for="other"><span><span></span></span>Övrigt</label></div>
       </div>


<div class="things"> 
          <div class="upload_column">
            <div class="dark_icon employer_icon" id="exp_employer"></div>
             <h3 class="employerTitle">Arbetsgivare</h3>
            <input class="uploadfile" id="employer" value=""> </input>
          </div>
          <div class="upload_column">
            <div class="dark_icon employment_icon" id="exp_description"></div>
             <h3 class="employmentDescription">Arbetsbeskrivning</h3>
            <input class="uploadfile" id="employment" value=""> </input>
          </div>
            <div class="upload_column">
            <div class="dark_icon location_icon"></div>
            <div class="time_separator" > <h3>Län</h3>
             <select class="uploadfile" >
            <option value="none">-----</option>
          </select></div>
            <div class="time_separator" > <h3>Stad</h3>
            <select class="uploadfile" >
            <option value="none">-----</option>
          </select> </input></div>

            
          </div>

          <div class="upload_column">
            <div class="dark_icon time_icon"></div>
            <div class="time_separator" > <h3>Från</h3>
            <input class="uploadfile" type="date" id="employment" value=""> </input></div>
            <div class="time_separator" > <h3>Till</h3>
            <input class="uploadfile" type="date" id="employment" value=""> </input></div>
            
          </div>    
           
             <input type="submit" class="submit_project" value="Lägg till erfarenhet">
            </div>

        
        
         

      </div>
      <div id="my_experience">
      <h1>Mina erfarenheter</h1>

<div class="ex_column">
            <div class="ex ico_employment">
              Anställning
            </div>

              <div class="edit_wrapper">

                   <!-- <Plats/tid>  -->
                      <div class="ex_float hide_this exp_location">Västra Götaland, Göteborg <img src="img/icons/edit/location.PNG"/></div>
                      <div class="ex_float hide_this">2014-2015 <img src="img/icons/edit/time.PNG"/></div>
                   <!-- </Plats/tid>  -->
                   
                   <!-- <Redigera plats/tid>  -->
                       <div class="ex_float edit_this"><input value="Västra götaland"></input><input value="Göteborg"></input> <img src="img/icons/edit/location.PNG"/></div>
                       <div class="ex_float edit_this"><input value="2014"></input><input value="2014"></input> <img src="img/icons/edit/time.PNG"/></div>
                  <!-- </Redigera plats/tid>  -->

                   <!-- <Kontrollknappar>  -->
                        <div class="ex_button" style="background-color: #d70808;"><img src="img/icons/edit/delete.PNG"/></div>
                        <div class="ex_button edit_experience"><img src="img/icons/edit/edit.PNG"/></div>
                        <div class="ex_button edit_references"><img src="img/icons/edit/add.PNG"/></div>
                        <div class="ex_button"><img src="img/icons/edit/search.PNG"/></div>

                         <!-- <Spara ändringar>  -->
                        <div class="add_ref_edit edit_this">
                        Spara ändringar
                        </div>
                        <div class="ignore_ref_edit edit_this">
                        Ångra
                        </div>
                     <!-- </Spara ändringar>  -->


                   <!-- </Kontrollknappar>  -->

              </div>


             <!-- <Titel>  -->
                <h2 class="hide_this">BR Leksaker</h2>
             <!-- </Titel>  -->

             <!-- <Redigera titel>  -->
                <input value="BR Leksaker" class="edit_this"></input>
             <!-- </Redigera titel>  -->

             <div class="ex_description">
             <!-- <Beskrivning>  -->
               <span class="hide_this">Sålde knark på BR till alla föräldrar, elchockade barnen när de var för högljudda och tog med mig fika.</span>
             <!-- </Beskrivning>  -->

             <!-- <Redigera beskrivning>  -->
                <textarea class="edit_this" rows="6">Sålde knark på BR till alla föräldrar, elchockade barnen när de var för högljudda och tog med mig fika.</textarea>
             <!-- </Redigera beskrivning>  -->
             </div> 
                
            
             <!-- <Referenser>  -->
            <div class="show_references">
            <img src="img/small_menu.PNG"/> Visa referenser <br/>
            
              <div class="allreferences">

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                    <img src="img/references.PNG"/> Lord Voldemort<br/> <img src="img/phonenumber.PNG"/>  073-4V4D4-K3D4VR4  <br/> <img src="img/email.PNG"/> lord.voldemort@deatheaterslondon.net
                </div>

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                  <img src="img/references.PNG"/> Albus Dumbledore<br/> <img src="img/phonenumber.PNG"/>  073-M4G1C-D00MBL3  <br/> <img src="img/email.PNG"/> albus.dumbledore@hogwarts.net
                </div>

              </div>
            </div>
             <!-- </Referenser>  -->


             <!-- </Referenser>  -->

             <!-- <Lägg till ny referens>  -->
            <div class="references_choices">
                
                <div class="ref_column">
                  
                  <h3> Förnamn</h3>
                  <input class="references_input" id="first_name"></input>

                  <h3>Efternamn</h3>
                  <input class="references_input" id="last_name"></input>

                </div>

                 <div class="ref_column">

                    <h3>Email </h3>
                    <input class="references_input" id="email_address"></input>

                    <h3>Telefon </h3>
                    <input class="references_input" id="phone_number"></input>
                    <br/>

                  <div class="addreference">
                     Klar
                  </div>
                  <div class="clearreference">
                      Ta bort
                  </div>
                </div>
              </div> 

             <!-- </Lägg till ny referens>  -->
          </div>

        <div class="ex_column">
            <div class="ex ico_employment">
              Anställning
            </div>

              <div class="edit_wrapper">

                   <!-- <Plats/tid>  -->
                      <div class="ex_float hide_this exp_location">Västra Götaland, Göteborg <img src="img/icons/edit/location.PNG"/></div>
                      <div class="ex_float hide_this">2014-2015 <img src="img/icons/edit/time.PNG"/></div>
                   <!-- </Plats/tid>  -->
                   
                   <!-- <Redigera plats/tid>  -->
                       <div class="ex_float edit_this"><input value="Västra götaland"></input><input value="Göteborg"></input> <img src="img/icons/edit/location.PNG"/></div>
                       <div class="ex_float edit_this"><input value="2014"></input><input value="2014"></input> <img src="img/icons/edit/time.PNG"/></div>
                  <!-- </Redigera plats/tid>  -->

                   <!-- <Kontrollknappar>  -->
                        <div class="ex_button" style="background-color: #d70808;"><img src="img/icons/edit/delete.PNG"/></div>
                        <div class="ex_button edit_experience"><img src="img/icons/edit/edit.PNG"/></div>
                        <div class="ex_button edit_references"><img src="img/icons/edit/add.PNG"/></div>
                        <div class="ex_button"><img src="img/icons/edit/search.PNG"/></div>

             <!-- <Spara ändringar>  -->
                <div class="add_ref_edit edit_this">
                Spara ändringar
                </div>
                <div class="ignore_ref_edit edit_this">
                Ångra
                </div>
             <!-- </Spara ändringar>  -->
                   <!-- </Kontrollknappar>  -->

              </div>


             <!-- <Titel>  -->
                <h2 class="hide_this">BR Leksaker</h2>
             <!-- </Titel>  -->

             <!-- <Redigera titel>  -->
                <input value="BR Leksaker" class="edit_this"></input>
             <!-- </Redigera titel>  -->

             <div class="ex_description">
             <!-- <Beskrivning>  -->
               <span class="hide_this">Sålde knark på BR till alla föräldrar, elchockade barnen när de var för högljudda och tog med mig fika.</span>
             <!-- </Beskrivning>  -->

             <!-- <Redigera beskrivning>  -->
                <textarea class="edit_this" rows="6">Sålde knark på BR till alla föräldrar, elchockade barnen när de var för högljudda och tog med mig fika.</textarea>
             <!-- </Redigera beskrivning>  -->
             </div> 
                

             <!-- <Referenser>  -->
            <div class="show_references">
            <img src="img/small_menu.PNG"/> Visa referenser <br/>
            
              <div class="allreferences">

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                    <img src="img/references.PNG"/> Lord Voldemort<br/> <img src="img/phonenumber.PNG"/>  073-4V4D4-K3D4VR4  <br/> <img src="img/email.PNG"/> lord.voldemort@deatheaterslondon.net
                </div>

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                  <img src="img/references.PNG"/> Albus Dumbledore<br/> <img src="img/phonenumber.PNG"/>  073-M4G1C-D00MBL3  <br/> <img src="img/email.PNG"/> albus.dumbledore@hogwarts.net
                </div>

              </div>
            </div>
             <!-- </Referenser>  -->


             <!-- </Referenser>  -->

             <!-- <Lägg till ny referens>  -->
            <div class="references_choices">
                
                <div class="ref_column">
                  
                  <h3> Förnamn</h3>
                  <input class="references_input" id="first_name"></input>

                  <h3>Efternamn</h3>
                  <input class="references_input" id="last_name"></input>

                </div>

                 <div class="ref_column">

                    <h3>Email </h3>
                    <input class="references_input" id="email_address"></input>

                    <h3>Telefon </h3>
                    <input class="references_input" id="phone_number"></input>
                    <br/>

                  <div class="addreference">
                     Klar
                  </div>
                  <div class="clearreference">
                      Ta bort
                  </div>
                </div>
              </div> 

             <!-- </Lägg till ny referens>  -->
          </div>

      <div class="ex_column">
            <div class="ex ico_education">
              Utbildning
            </div>

              <div class="edit_wrapper">
                <form>
                   <!-- <Plats/tid>  -->
                      <div class="ex_float hide_this">Blekinge, Karlshamn <img src="img/icons/edit/location.PNG"/></div>
                      <div class="ex_float hide_this">2011-2014 <img src="img/icons/edit/time.PNG"/></div>
                   <!-- </Plats/tid>  -->
                   
                   <!-- <Redigera plats/tid>  -->
                       <div class="ex_float edit_this"><input value="Blekinge"></input><input value="Karlshamn"></input> <img src="img/icons/edit/location.PNG"/></div>
                       <div class="ex_float edit_this"><input value="2014"></input><input value="2014"></input> <img src="img/icons/edit/time.PNG"/></div>
                  <!-- </Redigera plats/tid>  -->

                   <!-- <Kontrollknappar>  -->
                        <div class="ex_button" style="background-color: #d70808;"><img src="img/icons/edit/delete.PNG"/></div>
                        <div class="ex_button edit_experience"><img src="img/icons/edit/edit.PNG"/></div>
                        <div class="ex_button edit_references"><img src="img/icons/edit/add.PNG"/></div>
                        <div class="ex_button"><img src="img/icons/edit/search.PNG"/></div>

                
             <!-- <Spara ändringar>  -->
                <div class="add_ref_edit edit_this">
                Spara ändringar
                </div>
                <div class="ignore_ref_edit edit_this">
                Ångra
                </div>
             <!-- </Spara ändringar>  -->
                        
                   <!-- </Kontrollknappar>  -->

              </div>


             <!-- <Titel>  -->
                <h2 class="hide_this">Blekinge Tekniska Högskola</h2>
             <!-- </Titel>  -->

             <!-- <Redigera titel>  -->
                <input value="Blekinge Tekniska Högskola" class="edit_this"></input>
             <!-- </Redigera titel>  -->

            <div class="ex_description">
               <!-- <Beskrivning>  -->
                  <span class="hide_this">Webbutveckling 180hp</span>
               <!-- </Beskrivning>  -->

             <!-- <Redigera beskrivning>  -->
                <textarea class="edit_this" rows="6">Webbutveckling 180hp</textarea>
             <!-- </Redigera beskrivning>  -->
             </div> 
             </form>
             <!-- <Referenser>  -->
            <div class="show_references">
            <img src="img/small_menu.PNG"/> Visa referenser <br/>
            
              <div class="allreferences">

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                    <img src="img/references.PNG"/> Lord Voldemort<br/> <img src="img/phonenumber.PNG"/>  073-4V4D4-K3D4VR4  <br/> <img src="img/email.PNG"/> lord.voldemort@deatheaterslondon.net
                </div>

                <div class="ref_square">
                        <div class="delete_reference"><img src="img/icons/edit/delete.PNG"/></div>
                  <img src="img/references.PNG"/> Albus Dumbledore<br/> <img src="img/phonenumber.PNG"/>  073-M4G1C-D00MBL3  <br/> <img src="img/email.PNG"/> albus.dumbledore@hogwarts.net
                </div>
                
              </div>
            </div>
             <!-- </Referenser>  -->

             <!-- <Lägg till ny referens>  -->
            <div class="references_choices">
                
                <div class="ref_column">
                  
                  <h3> Förnamn</h3>
                  <input class="references_input" id="first_name"></input>

                  <h3>Efternamn</h3>
                  <input class="references_input" id="last_name"></input>

                </div>

                 <div class="ref_column">

                    <h3>Email </h3>
                    <input class="references_input" id="email_address"></input>

                    <h3>Telefon </h3>
                    <input class="references_input" id="phone_number"></input>
                    <br/>

                  <div class="addreference">
                     Klar
                  </div>
                  <div class="clearreference">
                      Ta bort
                  </div>
                </div>
              </div> 
              
             <!-- </Lägg till ny referens>  -->
          
          </div>

          </div>

      </div>

      </body>      
</html>