<html>

<head>
		<link href="cv.css" type="text/css" rel="stylesheet">

</head>
<body>
<div id="knappar">

<!--Konvertera till pdf knapp-->
<form action="http://google.com">
	<input type="button" id="button" value="Konvertera till pdf">
</form>


<!--Sök -->
<form>
       <input type="text" id="search" placeholder="Search..." required>
       <input type="button" id="submit" value="S&ouml;k">
</form>
</div>

<div id="body">	
<h1>CV</h1>
<div id="header">
<img src="profilbild.png" width="150" height="150">
</div>
<table>
		<tr><td>Om mig <hr>		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br></tr></td>
			<tr><td>Utbildning<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br></tr></td>
				<tr><td>Anst&auml;llningar<hr><br></tr></td>
					<tr><td>&Ouml;vriga meriter<hr><br></tr></td>
						<tr><td>Referenser<hr><br></tr></td>
</table>
</div>
</body>


		</html>